* {
    margin: 0;
    padding: 0;
}
.head {
    background-color: #eef1d8;
    width: 100%;
    height: 147px;
    border-bottom: 2px solid #1D484E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 5;
    top: 0;
}
.phone > a {
    text-align: center;
    color: #1D484E;
    font-size: 16px;
    text-decoration: none;
    position: relative;
    right: 105px;
}
.headLeft {
    position: relative;
    left: 105px;
    display: flex;
}
.logo {
    width: 253px;
    height: 90px;
    display: flex;
    align-items: center;
    font-size: 32px;
    color: #1D484E;
}
.foot {
    background-color: #eef1d8;
    width: 100%;
    height: 119px;
}
.navi {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #1D484E;
}
.pageL {
    border-right: 1px solid #EB7149;
    height: 70px;
    display: flex;
    align-items: center;
    padding-right: 57px;
}
.pageR {
    border-left: 1px solid #EB7149;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 57px;
}
.main1 {
    display: flex;
    justify-content: center;
    gap: 96px;
    margin-top: 263px;
}
.saleButton {
    width: 330px;
    height: 330px;
    border: 2px solid #1D484E;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 32px;
    color: #1D484E;
    box-shadow: #1D484E 0px 3px 8px;
}
.saleButton:hover {
    background-color: #8AC9AF;
}
.sureBlock{
    width: 735px;
    height: 330px;
    background-color: #EEF1D8;
    color: #1D484E;
    font-size: 32px;
    border-radius: 160px;
}
.sureWords {
    position: relative;
    top: 86px;
    left: 126px;
    z-index: 1;
}
.oFish{
    position: relative;
    left: 472px;
    bottom: 195px;
    z-index: 2;
}
.wFish{
    position: relative;
    left: 41px;
    bottom: 185px;
    z-index: 3;
}
.sureButton{
    position: relative;
    top: 140px;
    left: 360px;
    width: 228px;
    height: 61px;
    border: 2px solid #1D484E;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #1D484E 0px 3px 8px;
    z-index: 4;
}
.sureButton:hover {
    background-color: #8AC9AF;
}
.main2 {
    margin-top: 116px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 32px;
    color: #1D484E;
}
.brands {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 1570px;
    height: 434px;
    border: 2px solid #6FB581;
    border-radius: 10px;
    padding-left: 111px;
    padding-right: 111px;
}
.brand12{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 350px;
}
.brand34{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 350px;
}
.main3 {
    margin-top: 116px;
}
.bFish {
    width: 100%;
    filter: blur(3px);
}